header.header 
    .h-container 
        .header_wrapper 
            .header_logo w3school
                span.header_logo_span .com
            .header_info 
                p.header_info_p THE WORLD'S LARGEST WEB DEVELOPER SITE
                a(href="#").header_info_a LOGIN 

.clear
.menu_navbar 
    .navbar_title 
        .h-container
            .menu_right 
                a(href="#").link#link1  EXERCISES
                    img(src="assets/img/down.png", alt="").link_down#link_down1
                a(href="#").link#link2 REFERENCES
                    img(src="assets/img/down.png", alt="").link_down#link_down2
                a(href="#").linkCOURSES
                a(href="#").link SHOP
                a(href="#")
                    img(src="assets/img/black.png", alt="").menu_right_img#menu_black
                a(href="#")
                    img(src="assets/img/earth.png", alt="").menu_right_img
                a(href="#")
                    img(src="assets/img/search.png", alt="").menu_right_img
            .menu_left 
                a(href="#")
                    img(src="assets/img/house.png", alt="").menu_right_img
                a(href="#").link.active HTML  
                a(href="#").link CSS
                a(href="#").link JAVA SCRIPT 
                a(href="#").link PYHTON
    .w3_menu#w3_menu   
        .w3_tutorial
            h1.w3_h1 Mashqlar
            .w3_row 
                a(href="#") HTML darsliklar 
                a(href="#") CSS darsliklar 
                a(href="#") JAVA SCRIPT darsliklar 
                a(href="#") PYTHON darsliklar 
        .w3_tutorial
            h1.w3_h1 Quizlar
            .w3_row 
                a(href="#") HTML darsliklar 
                a(href="#") CSS darsliklar 
                a(href="#") JAVA SCRIPT darsliklar 
                a(href="#") PYTHON darsliklar 
        .w3_tutorial
            h1.w3_h1 Sertifikatlar
            .w3_row 
                a(href="#") HTML darsliklar 
                a(href="#") CSS darsliklar 
                a(href="#") JAVA SCRIPT darsliklar 
                a(href="#") PYTHON darsliklar 



 
    .w3_menu#w2_menu   
        .w3_tutorial
            h1.w3_h1 HTML
            .w3_row 
                a(href="#") HTML ma`lumotnoma 
                a(href="#") CSS ma`lumotnoma 
                a(href="#") JAVA SCRIPT ma`lumotnoma 
                a(href="#") PYTHON ma`lumotnoma 
        .w3_tutorial
            h1.w3_h1 CSS
            .w3_row 
                a(href="#") HTML ma`lumotnoma 
                a(href="#") CSS ma`lumotnoma
                a(href="#") JAVA SCRIPT ma`lumotnoma 
                a(href="#") PYTHON ma`lumotnoma 
        .w3_tutorial
            h1.w3_h1 JAVA SCRIPT
            .w3_row 
                a(href="#") HTML ma`lumotnoma
                a(href="#") CSS ma`lumotnoma 
                a(href="#") JAVA SCRIPT ma`lumotnoma
                a(href="#") PYTHON ma`lumotnoma 
