
.view 
    .view_right
        h1.view_right_h1 HTML Tutorial
        .view_btns 
            a(href="#").view_btns_a1 Next ❯ 
            a(href="#").view_btns_a2 ❮ Previous
        .html 
            .html_home
                .html_left
                    img(src="assets/img/html1.png", alt="")
                .html_right
                    p HTML - bu veb-sahifalar uchun standart belgilash tili.
                    p HTML yordamida siz o'zingizning veb-saytingizni yaratishingiz mumkin.
                    p HTMLni o'rganish oson - sizga yoqadi!
                    a(href="#") Hoziroq HTMLni o`rganishni boshlang »
        h1.middle_h1 HTML bilan oson o'rganish "O'zingiz sinab ko'ring"
        p.middle_p Bizning "Buni sinab ko'ring" muharriri yordamida siz HTML kodni tahrirlashingiz va natijani ko'rishingiz mumkin:
        .view_right_example
            .view_right_example_title HTMLga misol:
            .view_right_example_area
                .top
                    .top_block1 
                        span.tri <
                        span.attribute !DOCTYPE
                        span.tri >
                        span.tri <
                        span.attribute html
                        span.tri >
                    .top_block
                        br
                        span.tri <
                        span.red html
                        span.tri >
                        br
                    .top_block
                        span.tri <
                        span.red head
                        span.tri >
                        br
                    .top_block
                        span.tri < 
                        span.attribute title
                        span.tri >
                        .text HTML Tutorial 
                        span.tri <
                        span.attribute /title
                        span.tri >
                        br
                    .top_block
                        span.tri < /
                        span.red head
                        span.tri >
                        br
                    .top_block   
                        span.tri <
                        span.attribute body
                        span.tri >
                    br   
                    br
                    .mid_block
                        span.tri <
                        span.attribute h1
                        span.tri >
                        .text This is a heading
                        span.tri <
                        span.attribute /h1
                        span.tri >
                    br
                    .mid_block
                        span.tri <
                        span.attribute p
                        span.tri >
                        .text This is a paragraph
                        span.tri <
                        span.attribute /p
                        span.tri >
                    br    
                    .mid_block
                        span.tri <
                        span.attribute /body
                        span.tri >
                    br
                    .mid_block
                        span.tri <
                        span.attribute /html
                        span.tri >
        h1.middle_h1 HTML Examples
        p.middle_p Ushbu HTML qo'llanmasida siz 200 dan ortiq misollarni topasiz. Onlayn "O'zingiz sinab ko'ring" muharriri yordamida siz har bir misolni o'zingiz tahrirlashingiz va sinovdan o'tkazishingiz mumkin!
        a(href="#").middle_a HTML misollariga o'ting!
        h1.middle_h1 HTML Misollari
        p.middle_p Ushbu HTML o'quv qo'llanmasida 100 ga yaqin HTML mashqlari mavjud.
        .view_right_example2
            .view_right_example2_title O'zingizni mashq bilan sinab ko'ring
            .view_right_example2_area
                .top
                    .top_block1 
                        h3 Mash qiling:
                    .top_block 
                        p Quyidagi xatboshiga "W3Schools haqida" matni bilan "ko'rsatma" qo'shing.
                    .top_block2
                        span.tri1 < 
                        span.attribute1 p
                        span.tri1 >
                        .text W3Schools is a web developer's site.
                        span.tri1 <
                        span.attribute1 /p
                        span.tri1 >
                        br
                    .top_block 
                        button Javobni ko`rish »
                    .top_block
                        a(href="#") Mashqni boshlang
        .middle_wrap
            .middle_bottom            
                h1.middle_h12 HTML Viktorina Testi
                p.middle_p2 HTML Viktorinamiz yordamida HTML mahoratingizni sinab ko'ring!
                a(href="#").middle_a3 HTML misollariga o'ting!
            .middle_bottom            
                h1.middle_h12 HTML ma'lumotlari
                p.middle_p2 W3Schools-da HTML elementlari, atributlar, hodisalar, ranglar nomlari, ob'ektlar, belgilar to'plami, URL kodlash, til kodlari, HTTP xabarlari, brauzerni qo'llab-quvvatlash va boshqalar haqida to'liq ma'lumotni topasiz:
            .middle_boxs 
                .middle_box
                    a(href="#")  HTML elementlari
                .middle_box
                    a(href="#")  HTML elementlari
                .middle_box
                    a(href="#")  HTML elementlari
                .middle_box
                    a(href="#")  HTML elementlari
                .middle_box
                    a(href="#")  HTML elementlari
                .middle_box
                    a(href="#")  HTML elementlari
                .middle_box
                    a(href="#")  HTML elementlari
                .middle_box
                    a(href="#")  HTML elementlari
                .middle_box
                    a(href="#")  HTML elementlari
            .middle_btns
                .view_btns 
                    a(href="#").view_btns_a1 Next ❯ 
                    a(href="#").view_btns_a2 ❮ Previous
            .middle_boxs2 
                .middle_box2
                    a(href="#")  HTML elementlari
                .middle_box2
                    a(href="#")  HTML elementlari
                .middle_box2
                    a(href="#")  HTML elementlari
                .middle_box2
                    a(href="#")  HTML elementlari
            .footer_menus 
                .footer_menu    
                    .footer_tutorial
                        h1 Eng yaxshi darsliklar
                        .footer_tutorial_row 
                            a(href="#") HTML darsliklar 
                            a(href="#") CSS darsliklar 
                            a(href="#") JAVA SCRIPT darsliklar 
                            a(href="#") PYTHON darsliklar 
                    .footer_tutorial
                        h1 Eng yaxshi darsliklar
                        .footer_tutorial_row 
                            a(href="#") HTML darsliklar 
                            a(href="#") CSS darsliklar 
                            a(href="#") JAVA SCRIPT darsliklar 
                            a(href="#") PYTHON darsliklar 
                    .footer_tutorial
                        h1 Eng yaxshi darsliklar
                        .footer_tutorial_row 
                            a(href="#") HTML darsliklar 
                            a(href="#") CSS darsliklar 
                            a(href="#") JAVA SCRIPT darsliklar 
                            a(href="#") PYTHON darsliklar 
                    .footer_tutorial
                        h1 Eng yaxshi darsliklar
                        .footer_tutorial_row 
                            a(href="#") HTML darsliklar 
                            a(href="#") CSS darsliklar 
                            a(href="#") JAVA SCRIPT darsliklar 
                            a(href="#") PYTHON darsliklar 
            .footer_center 
                .footer_center_top
                    p W3Schools ta'lim olish va o'qitish uchun optimallashtirilgan. O'qish va o'rganishni yaxshilash uchun misollar soddalashtirilishi mumkin. O'quv qo'llanmalari, qo'llanmalar va misollar xatolarga yo'l qo'ymaslik uchun doimiy ravishda ko'rib chiqiladi, ammo biz barcha tarkibning to'liq to'g'riligini kafolatlay olmaymiz. W3Schools-dan foydalanishda siz bizning foydalanish shartlarimiz, 
                    a(href="#")  cookie-fayllar va maxfiylik siyosatini o'qib, 
                    a(href="#") qabul qilganingizga rozilik bildirasiz.
                .footer_center_bottom 
                    a(href="#") 1999-2021 yillardagi mualliflik huquqi Refsnes Data tomonidan.
                    p Barcha huquqlar himoyalangan.
                    a(href="#")  W3Schools W3.CSS tomonidan quvvatlanadi.
            .footer_logo
                img(src="assets/img/w3.gif", alt="")

    .view_left 
        a(href="#").view_title_a1 HTML Tutorial

        a(href="#").view_title_a3.show HTML HOME
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction

        a(href="#").view_title_a1 HTML Tutorial

        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction

        a(href="#").view_title_a1 HTML Tutorial

        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction

        a(href="#").view_title_a1 HTML Tutorial

        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction

        a(href="#").view_title_a1 HTML Tutorial

        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction

        a(href="#").view_title_a1 HTML Tutorial

        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction

        a(href="#").view_title_a1 HTML Tutorial

        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        a(href="#").view_title_a3 HTML Introduction
        span.view_title_span
